*{
    font-family: 'PT Sans', sans-serif;
}

body{
    padding: 50px
}


button {
    background-color: rgb(205, 166, 114);
    border: none;
    border-radius: 20%;
    cursor: pointer;
    padding: 10px;
    margin: 0 auto;
    text-transform: uppercase;
    width: 30%;
}